//Variables for font family
$Andika: 'Andika', sans-serif;

// Variables For Font Weight
$light: 300;
$normal: 400;
$semi: 600;
$bold: 700;

// Variables for colors
$primary: #ddc3a5;
$Black-brown: #201e20;
$Tan: #e0a96d;
$white: #ffffff;
$black: #000;
// Variables for mobile first media query
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1199px;
$xxl: 1599px;
